body {
	background-color:#ffd;
}
h1, h2 {
	font-family: 'RockwellStdBold', Helvetica, Arial, sans-serif;
	line-height:1em;
	color:#333;
}
h1 { letter-spacing:-0.05em; }
h2 { letter-spacing:-0.03em; }
/* Header */
#hd {
	margin:20px 0;
}
	#hd h1 {
		float:left;
		margin:0 20px 0 0;
		padding-right:20px;
		border-right:1px solid #999;
	}
	#nav a {
		display:block;
		float:left;
		margin:8px 10px 0 0;
	}
		#nav a.selected {
			text-decoration:none;
			color:#333;
			font-weight:bold;
		}
/* Body */
#bd {
	margin-bottom:40px;
}